@tailwind utilities;
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.bg-x {
    background-image: url('bg-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@theme {
    --animate-wiggle: wiggle 1s ease-in-out infinite;

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(3deg);
        }
    }

}